body {
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    margin: 10% auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.306), 0 6px 20px 0 rgba(0, 0, 0, 0.306);

}

img {
    justify-self: flex-start;
    width: 300px;
    height: auto;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    width: 200px;
    border: 1px solid green;
    border-radius: 15px;
    background-color: hsl(158, 36%, 37%);
    padding: 25px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.598), 0 6px 20px 0 rgba(0, 0, 0, 0.553);
    transition: 1s ease;


}




/* texts */
.text-container p,
span {
    font-weight: 500;
    margin: 30px 0 0 40px;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

span {
    text-decoration: line-through;
    font-weight: 400;
}

.text-container h1 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    font-weight: 700;
    margin: 30px 0 0 40px;
    padding-right: 50px;

}

.old-price {
    align-self: center;
    margin-top: -30px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 200px;
}

i {
    margin-right: 5px;
}

.button:hover {
    background-color: rgb(3, 79, 15);
    transform: translateY(-5px);

}

@media screen and (min-width:375px) {
    .container {
        width: 650px;
    }

}